body{
    margin: 0;
    padding:0;
    
}

.container{
    color: white;
    width:100%;
    margin:auto;
    overflow:hidden;
}
ul{
    margin: 0;
    padding:0;
}
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#ff5100;
    border-bottom-width: 4px;
    border-bottom-style:solid; 
    letter-spacing:8px;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
header li{
    float:right;
    display: inline;
    padding:15px;
    padding-bottom:20px;
}
a:hover{
    color:lightcoral;
}
a:active{
    background-color:lightblue;
}  
a:visited{
    background-color:lightsalmon;
}

header ul{
    padding-bottom: 20px;
}
.brand_name h2{
    margin-left:20px;
}
header h2{
    margin:0;
}
#main{
    background: url(img/back.jpg);
    min-height:900px;
    background-repeat:none;
    filter: brightness(0.7);
    text-align: center;
}

.main h2{
    padding-top:20px;
    margin: 0;
    color:#35424a;

}
.main p{
    margin:0;
    line-height:1.5;
}
footer{
    background:#35424a;
    text-align: center;
    font-weight: bold;
    font-size: 200;
    color:whitesmoke;
    margin:0;
    padding:0;
    border-top: #ff5100;
    border-top-width:4px;
    border-top-style:solid;
}

footer p{
     margin:0;
     padding: 20px;
}